* {
  margin: 0;
  padding: 0;
}

input:focus {
  outline: none;
}

.submitBtn:active {
  scale: 0.8;
  transition: all 0.3s;
}
@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.login-img {
  animation: moveUpDown 2.3s linear infinite;
}

.left {
  display: none;
}

/* Responsive */

/* Tablets */
@media screen and (min-width: 768px) {
  body {
  }
  .left {
    display: inline-block;
  }

  .container {
    padding: 40px;
  }
}

/* Media query for screens 1024px or larger */
/* Laptops & above */
@media screen and (min-width: 1024px) {
  body {
    font-size: 20px;
  }

  .left {
    display: inline-block;
  }
}

/* Mobile Specific */

/* CSS for screens with a width less than 768px (commonly mobile devices) */
@media screen and (max-width: 767px) {
  /* Your mobile-specific CSS here */
  .title {
    font-size: 25px !important;
  }
  .title-label {
    font-size: 10px !important;
  }

  .input-tag {
    width: 200px !important;
  }

  .right-main {
    flex: auto;
    margin-left: -20px !important;
  }
  .signup {
    margin-top: 5rem !important;
    font-size: 10px !important;
    margin-left: 2rem;
  }

  .google-img {
    display: none;
  }

  .main {
    background-color: transparent !important;
  }
}
