*{
  margin: 0;
  padding: 0;
}

 @keyframes moveUpDown {
            0% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(-10px);
            }
            100% {
                transform: translateY(0);
            }
        }

        .login-img {
            animation: moveUpDown 2.3s linear infinite;
        }