* {
  margin: 0;
  padding: 0;
}

input:focus {
  outline: none;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.login-img {
  animation: moveUpDown 2.3s linear infinite;
}

.login-img {
  display: none;
}

/* Responsive */

/* Tablets */
@media screen and (min-width: 768px) {
  body {
    background-color: red;
  }
  .login-img {
    display: inline-block;
  }

  .container {
    padding: 40px;
  }
}

/* Media query for screens 1024px or larger */
/* Laptops & above */
@media screen and (min-width: 1024px) {
  body {
    font-size: 20px;
    background-color: green;
  }

  .login-img {
    display: inline-block;
  }
}
